<html>
<head></head>
<body>

  <h1> New Blog</h1>

  <div>
    <a href="/blogs">View All Blogs</a>
    <a href="/addBlog">Add New Blog</a>
  </div>

  <form action="/addBlog" method="POST">
    <input type="text" name = "dishID" placeholder="Enter ID" />
    <input type="text" name = "title" placeholder="Enter Title" />
    <input type="text" name = "author" placeholder="Enter Name" />
    <textarea name ="description" rows="15" cols="50">
Enter blog here...</textarea>
      <input type="hidden" name ="bloglikes" value="0">
      <input type="submit" value="Submit" />
  </form>


</body>
</html>
